{
  "comments": false,
  "env": {
    "bench": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ],
      "presets": [
        "babili"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "release": {
      "presets": [
        "babili"
      ]
    }
  },
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-flow-strip-types",
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }]
  ]
}
