// See https://babeljs.io/docs/usage/babelrc for more information on .babelrc files.
{
  "comments": false,
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  },
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "tailcall-optimization",
    "transform-decorators-legacy",
    "transform-flow-strip-types"
  ]
}
