// See https://eslint.org/docs/user-guide/configuring for more information on .eslintrc files.
{
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended"
  ],
  "env": {
    "jest": true,
    "shared-node-browser": true
  },
  "globals": {
    "Class": true,
    "Iterable": true,
    "Iterator": true,
    "IteratorResult": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "plugins": [
    "jest",
    "flowtype"
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "class-methods-use-this": "off",
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "WithStatement"
    ],
    "semi": [
      "error",
      "never"
    ],
    "spaced-comment": "off"
  }
}
