# See https://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories
# for more about ignoring files and directories.

# compiled output
coverage/
dist/
lib/

# dependencies
flow-typed/
node_modules/
