# See https://help.github.com/articles/ignoring-files
# for more about ignoring files and directories.

# cache
.eslintcache
.jest-cache/

# compiled output
coverage/
dist/

# dependencies
node_modules/

# misc
*.DS_Store
.vscode/
package-lock.json

# logs
log/
*npm-debug.log
